<?php /** @var \Snowdog\Menu\Block\Menu $block */ ?>
<div class="menu__mobile">
    <svg title="icon-arrow-down" class="menu__mobile-icon">
        <use xlink:href="<?= $block->getViewFileUrl('images/icon-sprite.svg#icon-mobile-menu'); ?>"></use>
    </svg>
</div>
<nav class="menu">
    <ul class="menu__list"
        data-mage-init='{ "navigationMenu": {} }'
    >
        <?php
            /**
             * Render child menus
             *
             * @param \Snowdog\Menu\Block\Menu $block
             * @param array $subList
             * @param int $parentNodeId
             * @param int $listLevel
             * @return string
             */
            function renderSnowdogMenuSubList(
                \Snowdog\Menu\Block\Menu $block,
                array $subList,
                int $parentNodeId,
                int $listLevel
            ) {
                $menuClass = $block->getMenu()->getCssClass();
                $wrapperLevelClass = $menuClass . '__inner-list--level' . $listLevel;
                $wrapperClass = $menuClass . '__inner-list ' . $wrapperLevelClass;
                $itemLevelClass = $menuClass . '__inner-item--level' . $listLevel;
                $parentItemClass = $menuClass . '__inner-item--parent';
                $itemBaseClass = $menuClass . '__inner-item ' . $itemLevelClass;
                $itemLinkClass = $menuClass . '__inner-link';
                $parentItemId = ' data-menu="menu-' . $parentNodeId . '"';

                $html = '<ul class="' . $wrapperClass . '"' . $parentItemId . '>';

                foreach ($subList as $item) {
                    $node = $item['node'];
                    $nodeId = $node->getNodeId();
                    $itemClass = $itemBaseClass . ' ' . $node->getClasses();
                    $itemId = '';
                    $itemLinkUrl = '';

                    if ($item['children']) {
                        $itemClass .= ' ' . $parentItemClass;
                        $itemId = ' data-menu="menu-' . $nodeId . '"';
                    }

                    $html .= '<li class="' . $itemClass . '">';

                    if ($node->getType() == 'category') {
                        $itemLinkUrl = $block->getNodeTypeProvider($node->getType())
                            ->getCategoryUrl($nodeId);
                    } elseif ($node->getType() == 'cms_page' || $node->getType() == 'custom_url') {
                        $itemLinkUrl = $node->getContent();
                    }

                    if ($itemLinkUrl) {
                        $html .= '<a href="' . $itemLinkUrl
                               . '" class="' . $itemLinkClass
                               . '"' . $itemId . '>' . $node->getTitle() . '</a>';
                    } elseif ($node->getType() == 'cms_block') {
                        $html .= $block->getNodeTypeProvider($node->getType())
                            ->getHtml($nodeId, $listLevel);
                    }

                    if ($item['children']) {
                        $html .= renderSnowdogMenuSubList($block, $item['children'], $nodeId, $listLevel + 1);
                    }

                    $html .= '</li>';
                }

                $html .= '</ul>';

                return $html;
            }
        ?>

        <?php foreach ($this->getNodesTree() as $item): ?>
            <?php
                $menuClass = $block->getMenu()->getCssClass();
                $node = $item['node'];
                $nodeId = $node->getNodeId();
                $itemParentClass = '';
                $itemId = '';
                $itemLinkUrl = '';

                if ($item['children']) {
                    $itemParentClass = $menuClass . '__item--parent';
                    $itemId = ' data-menu="menu-' . $nodeId . '"';
                }

                if ($node->getType() == 'category') {
                    $itemLinkUrl = $block->getNodeTypeProvider($node->getType())
                        ->getCategoryUrl($nodeId);
                } elseif ($node->getType() == 'cms_page' || $node->getType() == 'custom_url') {
                    $itemLinkUrl = $node->getContent();
                }
            ?>

            <li class="<?= $menuClass ?>__item <?= $itemParentClass ?> <?= $node->getClasses() ?>">
                <?php if ($itemLinkUrl): ?>
                    <a href="<?= $itemLinkUrl ?>" class="<?= $menuClass ?>__link"<?= $itemId ?>>
                        <?= $node->getTitle() ?>
                    </a>
                <?php elseif ($node->getType() == 'cms_block'): ?>
                    <div class="<?= $menuClass ?>__link"<?= $itemId ?>>
                        <?= $this->getNodeTypeProvider($node->getType())->getHtml($nodeId, $listLevel) ?>
                    </div>
                <?php endif ?>
                <?php
                    if ($item['children']) {
                        echo renderSnowdogMenuSubList($block, $item['children'], $nodeId, $node->getLevel() + 1);
                    }
                ?>
            </li>
        <?php endforeach ?>
    </ul>
    <div class="menu__mobile-bg"></div>
</nav>
