.ui-autocomplete {
  	position: absolute;
  	top: 0;
  	left: 0;
    padding: 0;
    margin: 0;
    max-height: 500px;
    overflow: scroll;
  	background: #fff;
  	list-style: none;
  	border: 1px solid #adadad;
    border-top: none;
}

.ui-autocomplete .ui-menu-item {

}

 .ui-autocomplete .ui-corner-all {
    display: block;
    padding: 0 10px;
    line-height: 40px;
    color: #333;
    text-decoration: none;
 }

 .ui-autocomplete .ui-corner-all.ui-state-focus {
     background: #eb5202;
     color: #fff;
     cursor: pointer;
 }
