.panel .v-select{
    .open-indicator,
    .dropdown-toggle .clear {
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .open-indicator {
        height: 14px;
    }

    .vs__search {
        border: none;
    }

    .vs--single.vs--open .vs__selected {
        position: relative;
    }

}
