<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Snowdog\Menu\Api\MenuRepositoryInterface" type="Snowdog\Menu\Model\MenuRepository"/>
    <preference for="Snowdog\Menu\Api\NodeRepositoryInterface" type="Snowdog\Menu\Model\Menu\NodeRepository"/>
    <preference for="Snowdog\Menu\Api\MenuManagementInterface" type="Snowdog\Menu\Model\MenuManagement"/>
    <preference for="Snowdog\Menu\Api\Data\MenuSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Snowdog\Menu\Api\Data\MenuInterface" type="Snowdog\Menu\Model\Menu"/>
    <preference for="Snowdog\Menu\Api\Data\NodeInterface" type="Snowdog\Menu\Model\Menu\Node"/>

    <type name="Snowdog\Menu\Model\NodeTypeProvider">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="category" xsi:type="object">Snowdog\Menu\Block\NodeType\Category</item>
                <item name="product" xsi:type="object">Snowdog\Menu\Block\NodeType\Product</item>
                <item name="cms_page" xsi:type="object">Snowdog\Menu\Block\NodeType\CmsPage</item>
                <item name="cms_block" xsi:type="object">Snowdog\Menu\Block\NodeType\CmsBlock</item>
                <item name="custom_url" xsi:type="object">Snowdog\Menu\Block\NodeType\CustomUrl</item>
                <item name="category_child" xsi:type="object">Snowdog\Menu\Block\NodeType\CategoryChild</item>
                <item name="wrapper" xsi:type="object">Snowdog\Menu\Block\NodeType\Wrapper</item>
            </argument>
            <argument name="typeModels" xsi:type="array">
                <item name="category" xsi:type="object">Snowdog\Menu\Model\NodeType\Category</item>
                <item name="product" xsi:type="object">Snowdog\Menu\Model\NodeType\Product</item>
                <item name="cms_page" xsi:type="object">Snowdog\Menu\Model\NodeType\CmsPage</item>
                <item name="cms_block" xsi:type="object">Snowdog\Menu\Model\NodeType\CmsBlock</item>
                <item name="custom_url" xsi:type="object">Snowdog\Menu\Model\NodeType\CustomUrl</item>
                <item name="category_child" xsi:type="object">Snowdog\Menu\Model\NodeType\CategoryChild</item>
                <item name="wrapper" xsi:type="object">Snowdog\Menu\Model\NodeType\Wrapper</item>
            </argument>
        </arguments>
    </type>
    <type name="Snowdog\Menu\Model\Menu">
        <plugin name="snowdog_menu_stores_invalidate_page_cache_after_save"
                type="Snowdog\Menu\Plugin\Model\Menu\AfterSaveStores\InvalidatePageCache"/>
    </type>
    <type name="Snowdog\Menu\Model\ResourceModel\Menu">
        <plugin name="snowdog_menu_invalidate_page_cache_after_save"
                type="Snowdog\Menu\Plugin\Model\ResourceModel\Menu\AroundSave\InvalidatePageCache"/>
        <plugin name="snowdog_menu_invalidate_page_cache_after_delete"
                type="Snowdog\Menu\Plugin\Model\ResourceModel\Menu\AfterDelete\InvalidatePageCache"/>
    </type>
    <type name="Snowdog\Menu\Model\ResourceModel\Menu\Node">
        <plugin name="snowdog_menu_node_invalidate_page_cache_after_save"
                type="Snowdog\Menu\Plugin\Model\ResourceModel\Menu\Node\AroundSave\InvalidatePageCache"/>
        <plugin name="snowdog_menu_node_invalidate_page_cache_after_delete"
                type="Snowdog\Menu\Plugin\Model\ResourceModel\Menu\Node\AfterDelete\InvalidatePageCache"/>
    </type>

    <type name="Snowdog\Menu\Model\VueProvider">
        <arguments>
            <argument name="components" xsi:type="array">
                <item name="category" xsi:type="string">category</item>
                <item name="product" xsi:type="string">product</item>
                <item name="cms_page" xsi:type="string">cms-page</item>
                <item name="cms_block" xsi:type="string">cms-block</item>
                <item name="custom_url" xsi:type="string">custom-url</item>
                <item name="category_child" xsi:type="string">category-child</item>
                <item name="wrapper" xsi:type="string">wrapper</item>
            </argument>
        </arguments>
    </type>
</config>
